$dark:  #444444;
$blue:  #2DB6CF;
$white: #FFFFFF;
$light: #999999;
$ff: Arial,sans-serif;

html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: $ff;
}

%unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%sudokuCell {
    display: table-cell;
    text-align: center;
    font-size: 7rem;
    width: 9rem;
    height: 9rem;
}

%horizontallyCenter {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
}
 %borderStyles {
    border-width: 0.1rem;
    border-color: black;
}

.main {
    @extend %unselectable;
    position: absolute;
    width: 100%;
    height: 100%;
}

.sudoku {
    position: relative;
    padding-top: 5rem;
    height: 88rem;
}

.centered {
    position: absolute;
    margin: auto;
    left: 0;
    right: 1rem;
}

.sudoku-grid {
    @extend %borderStyles;
    border-style: solid;
    table-layout: fixed;
    width: 81rem;
    height: 81rem;
}

.sudoku-row { 
    border-style: solid;
    border-color: black;

    td:nth-child(3n+1) {
        border-left-width: 0.2rem;
    }
    td:last-child {
        border-right-width: 0.2rem;
    }
    &:nth-child(3n) {
        border-bottom-width: 0.2rem;
    }
    &:nth-child(1) {
        border-top-width: 0.2rem;
    }
}
.sudoku-row input {
    @extend %sudokuCell;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.sudoku-row td {
    @extend %sudokuCell;
    @extend %borderStyles;
    border-style: solid;
}

h1 {
    @extend %horizontallyCenter;
    font-family: $ff;
    font-weight: bold;
    top: 0;
    padding: 1rem 0;
    font-size: 3rem;
}

.arrow-up {
    position: absolute;
    top: -1.5rem;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-bottom: 1.5rem solid black;
}

.flip-arrow-down {
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg); 
    top: 27.7rem;
}

.arrow-up-filler {
    position: absolute;
    left: -1.4rem;
    width: 0;
    height: 0;
    border-left: 1.4rem solid transparent;
    border-right: 1.4rem solid transparent;
    border-bottom: 1.4rem solid #f5f5dc;
    top: 0.3rem;
    padding-bottom: 0.1em;
}

.number-selector {
    @extend %unselectable;
    position: absolute;
    left: -100000rem;
    width: 27.6rem;
    height: 27.6rem;
    z-index: 99;
}

.number-selector-item {
    @extend %unselectable;
    @extend %sudokuCell;
    @extend %borderStyles;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    border-width: 0.25rem;
    border-color: black;
    margin-top: 1.3rem;
    font-color: white;
    background-color: #F5F5DC;
}

.first-row , .second-row, .third-row {
    .number-selector-item {
        border-style: solid solid none none;
    }
    .first-cell {
        border-left-style: solid;
    }
}


.third-row {
    .number-selector-item {
        border-bottom-style: solid;
    }
}
.number-selector-item.highlighted, input.highlighted {
    background-color: yellow;
}

.number-selector-item.error, input.error {
    background-color: red;
}

.number-selector-row {
   display: inline;
}

// hiding the default jquery mobile loader
.ui-loader {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
}
input:disabled {
    -webkit-text-fill-color: black;
    font-color: black;
    -webkit-opacity: 1;
}

.button-container {
    @extend %horizontallyCenter;
    bottom: 2rem;
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: $dark;
  font-weight: 700;
  border: 0 none;
  border-radius: 0.2rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: 1;
  width: 41rem;
  font-family: $ff;
  text-align: center;
  &.dark {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.light {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $blue;
      color: $white;
    }
  }
}

@media (max-width: 52rem) {
    .sudoku {
        height: 105rem;
    }
    .button {
       width: 78.5rem;
       font-size: 3rem;
       line-height: 4rem;
       padding: 2rem 1rem;
    }
}

.touch {
    .sudoku {
        height:105rem;
    }
    .button {
       width: 82.5rem;
       font-size: 3rem;
       line-height: 5rem;
       padding: 2rem 1rem;
    }
}
